.contact
	width 300px
	padding-bottom 23px
	margin-right 21px
	float left

	&__title
		padding-bottom 9px
		font-family font-georgia
		font-size 18px
		color grey_social_title
		border-bottom 1px dashed grey_border_button-social
