.news
	width 300px
	float left

	&__title
		padding-bottom 9px
		font-family font-georgia
		font-size 18px
		color grey_social_title
		border-bottom 1px dashed grey_border_button-social

	&__item
		padding-top 14px
		padding-bottom 9px
		border-bottom 1px dashed grey_border_button-social
		overflow hidden

		&:last-of-type
			padding-bottom 19px
			margin-bottom 10px

	&__link
		display block
		text-decoration none

	&__img-wrapper
		float left
		width 58px
		height 58px
		border 1px solid grey_border_img
		border-radius 5px

	&__img
		border 5px solid white_bold_border
		border-radius 5px

	&__descript
		padding-left 8px
		font-family font-helvetica
		font-size 12px
		line-height 14px
		color grey_article
		overflow hidden

