.social
	width 300px
	padding-bottom 23px
	padding-left 7px
	margin-right 19px
	float left

	&__title
		padding-bottom 9px
		font-family font-georgia
		font-size 18px
		color grey_social_title
		border-bottom 1px dashed grey_border_button-social

		&_newsletter
			font-family font-gill-sans
			font-weight bold
			letter-spacing 1px

	&__descript
		padding-top 13px
		padding-bottom 10px
		font-family font-helvetica
		font-size 12px
		line-height 14px
		color grey_article

