font-gill-sans = 'GillSansMT', sans-serif
font-georgia = 'Georgia', sans-serif
font-tahoma = 'Tahoma', sans-serif
font-helvetica = 'Helvetica', sans-serif
font-Unibody8Pro = 'Unibody8Pro-Regular', sans-serif
font-myriadPro = 'MyriadPro-Regular', sans-serif


@font-face
	font-family 'GillSansMT'
	src url('../fonts/GillSansMT.eot') format('embedded-opentype'),
	url('../fonts/GillSansMT.woff') format('woff'),
	url('../fonts/GillSansMT.ttf') format('truetype')
	font-style normal


@font-face
	font-family 'Georgia'
	src url('../fonts/Georgia.eot') format('embedded-opentype'),
	url('../fonts/Georgia.woff') format('woff'),
	url('../fonts/Georgia.woff2') format('woff2'),
	url('../fonts/Georgia.ttf') format('truetype'),
	url('webfont.svg#code2000regular') format('svg')
	font-style normal

@font-face
	font-family 'Tahoma'
	src url('../fonts/Tahoma.eot') format('embedded-opentype'),
	url('../fonts/Tahoma.woff') format('woff'),
	url('../fonts/Tahoma.ttf') format('truetype'),
	url('webfont.svg#Tahoma') format('svg')
	font-style normal

@font-face
	font-family 'Helvetica'
	src url('../fonts/Helvetica.eot') format('embedded-opentype'),
	src url('../fonts/Helvetica.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Helvetica.woff') format('woff'),
	url('../fonts/Helvetica.ttf') format('truetype'),
	url('webfont.svg#Helvetica') format('svg')
	font-style normal

@font-face
	font-family 'Unibody8Pro-Regular'
	src url('../fonts/Unibody8Pro-Regular.eot') format('embedded-opentype'),
	src url('../fonts/Unibody8Pro-Regular.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Unibody8Pro-Regular.woff') format('woff'),
	url('../fonts/Unibody8Pro-Regular.woff2') format('woff2'),
	url('../fonts/Unibody8Pro-Regular.ttf') format('truetype'),
	url('webfont.svg#Unibody8Pro-Regular') format('svg')
	font-style normal

@font-face
	font-family 'MyriadPro-Regular'
	src url('../fonts/MyriadPro-Regular.eot') format('embedded-opentype'),
	src url('../fonts/MyriadPro-Regularr.eot?#iefix') format('embedded-opentype'),
	url('../fonts/MyriadPro-Regular.woff') format('woff'),
	url('../fonts/MyriadPro-Regular.woff2') format('woff2'),
	url('../fonts/MyriadPro-Regular.ttf') format('truetype'),
	url('webfont.svg#MyriadPro-Regular') format('svg')
	font-style normal




