font-gill-sans = 'GillSansMT', sans-serif
font-georgia = 'Georgia', sans-serif
font-tahoma = 'Tahoma', sans-serif
font-helvetica = 'Helvetica', sans-serif


@font-face
	font-family 'GillSansMT'
	src url('../fonts/GillSansMT.eot') format('embedded-opentype'),
	url('../fonts/GillSansMT.woff') format('woff'),
	url('../fonts/GillSansMT.ttf') format('truetype')
	font-style normal


@font-face
	font-family 'Georgia'
	src url('../fonts/Georgia.eot') format('embedded-opentype'),
	url('../fonts/Georgia.woff') format('woff'),
	url('../fonts/Georgia.woff2') format('woff2'),
	url('../fonts/Georgia.ttf') format('truetype'),
	url('webfont.svg#code2000regular') format('svg')
	font-style normal

@font-face
	font-family 'Tahoma'
	src url('../fonts/Tahoma.eot') format('embedded-opentype'),
	url('../fonts/Tahoma.woff') format('woff'),
	url('../fonts/Tahoma.ttf') format('truetype')
	font-style normal

@font-face
	font-family 'Helvetica'
	src url('../fonts/Helvetica.eot') format('embedded-opentype'),
	url('../fonts/Helvetica.woff') format('woff'),
	url('../fonts/Helvetica.ttf') format('truetype')
	font-style normal




