nav.nav(role="navigation")
	+nav([
		{
			menu: "Home",
			href: jv0,
			menuHint: "Back to home"
		},
		{
			menu: "Product",
			href: jv0,
			menuHint: "What we have for you"
		},
		{
			menu: "Services",
			href: jv0,
			menuHint: "Things we do"
		},
		{
			menu: "Blog",
			href: jv0,
			menuHint: "Follow our apdates"
		},
		{
			menu: "Contact",
			href: jv0,
			menuHint: "Whay to reach us"
		}
	])
