+news([
		{
			image: "assets/images/news/thumbnail-1.png",
			text: textNews1
		},
		{
			image: "assets/images/news/thumbnail-2.png",
			text: textNews2
		},
		{
			image: "assets/images/news/thumbnail-3.png",
			text: textNews3
		}
	])

