section.swiper
	.swiper__container.js-swiper-container.swiper-container
		.swiper__wrapper.swiper-wrapper
			.swiper__slide.swiper-slide
				img.swiper__img(src="assets/images/slider/slide1.jpg" alt="img")
			.swiper__slide.swiper-slide
				img.swiper__img(src="assets/images/slider/slide1.jpg" alt="img")
			.swiper__slide.swiper-slide
				img.swiper__img(src="assets/images/slider/slide1.jpg" alt="img")
			.swiper__slide.swiper-slide
				img.swiper__img(src="assets/images/slider/slide1.jpg" alt="img")
			.swiper__slide.swiper-slide
				img.swiper__img(src="assets/images/slider/slide1.jpg" alt="img")
		.swiper__pagination.js-swiper-pagination.swiper-pagination

