.swiper
	.swiper__container.js-swiper-container.swiper-container
		.swiper__wrapper.swiper-wrapper
			.swiper__slide.swiper-slide
				.swiper__img-wrapper
					img.swiper__img(src="assets/images/slider/slide1.jpg" alt="img")
			.swiper__slide.swiper-slide
				.swiper__img-wrapper
					img.swiper__img(src="assets/images/slider/slide1.jpg" alt="img")
			.swiper__slide.swiper-slide
				.swiper__img-wrapper
					img.swiper__img(src="assets/images/slider/slide1.jpg" alt="img")
			.swiper__slide.swiper-slide
				.swiper__img-wrapper
					img.swiper__img(src="assets/images/slider/slide1.jpg" alt="img")
			.swiper__slide.swiper-slide
				.swiper__img-wrapper
					img.swiper__img(src="assets/images/slider/slide1.jpg" alt="img")
		.swiper__container-shadow
		.swiper__pagination.js-swiper-pagination.swiper-pagination
	.swiper__bg

