grey_base = #666
grey_light = #b7b7b7
grey_border = #c6c6c6
grey_article = #8c8c8c
grey_border_button = #d8d8d8
grey_border_img = #cfcfcf
grey_social_title = #444444
grey_border_button-social = #d3d3d3
grey_footer = #999

blue_border = #089dcb
blue_article = #11719e
blue_button = #016999
blue_pseudo = #096897
blue_dark = #004a80
blue_light = #528db8

white = #fff
white_smoke = #e5e5e5
white_border = #e1e1e1
white_bold_border = #f3f3f3

black = #000
black_article = #3e3e3e
black_footer = #333333
black_footer_border =  #4c4c4c

hover-time = .2s
hover-button-time = .350s

