.social

	&__icons
		padding-bottom 39px
		overflow hidden

	&__icon
		float left
		width 53px
		height 55px
		margin-right 7px

		&:last-of-type
			margin-right 0

	&__link
		display block

		&-rrs
			sprite($rrs, 'rrs')

		&-fbook
			sprite($fbook, 'fbook')

		&-linkedin
			sprite($linkedIn, 'linkedIn')

		&-youtube
			sprite($y-tube, 'y-tube')

		&-twitter
			sprite($twitter, 'twitter')
